<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestPortfolio</title>
    <link rel="stylesheet" href="/css/header.css">
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>

<header>
    <div class="site-title">

        <div class="portfel">
            <a href="/StocksPortfolio/Home">Портфель</a>
        </div>

        <div class="online">
            Online
        </div>

        <div class="home">
            <a href="/StocksPortfolio/Home">Список акций</a>
        </div>

        <div class="home list-dividend">
            <a href="/StocksPortfolio/DividendIndex">Список дивидендов</a>
        </div>

        <div class="home user">
            Пользователь:
        </div>

        <div class="authorization">
            @if ((!User?.Identity?.IsAuthenticated) ?? true)
            {
                <a href="/Auth/Login">Вход /</a>
            }
            else
            {
                <a href="/Auth/Logout">Выход /</a>
            }
            <a href="#">Регистрация</a>
        </div>

    </div>
</header>
<body>
    @RenderBody()
</body>
</html>
